.bb-custom-wrapper > nav a,
.price_block:hover .price,
.price_block.special .price,
.contentbody .benefits .items:hover {
  /*background: #53532b;*/
  background: #fed000;
}

/*.contentbody .benefits .items i
.content-title .separator-title h2,
*/
a,
.headcontent .text-content h1,
.comment .testi .testi-profile .testi-name strong {
  color: #53532b;
}
.chapter .cprofile:hover {
  border-bottom: 5px solid #53532b;
}
